[submodule "meta-openembedded"]
	path = meta-openembedded
	url = ./meta-openembedded/
	branch = sumo
[submodule "poky"]
	path = poky
	url = ./poky/
	branch = sumo
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = ./meta-raspberrypi/
	branch = sumo
