[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = warrior
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = warrior
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git@github.com:agherzan/meta-raspberrypi.git
	branch = warrior
[submodule "meta-mender"]
	path = meta-mender
	url = git://github.com/mendersoftware/meta-mender
	branch = warrior
